@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.assets-landingi.com/V1SGX5lY/Poppins_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.assets-landingi.com/1v3I5xmi/Poppins_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.assets-landingi.com/3BPpjpgp/Poppins_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}