@font-face {
  font-family: 'Averta';
  src: url('https://fonts.assets-landingi.com/RsRFSGoi/AvertaDemoPE_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}